*.a
*.la
*.lo
*.o
.*.swp
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/rdoc
install-sh
libtool
ltmain.sh
missing
src/compiler/config.rb
src/compiler/rubyc.rb
src/stdlib/rubyc.h
tags
test/coverage
