*.a
*.la
*.lo
*.o
.*.swp
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/*.aux
doc/*.last_version
doc/*.log
doc/*.mtime
doc/*.out
doc/*.pdf
doc/*.rb.tex
doc/*.sh.tex
doc/*.toc
doc/*.versions
doc/rdoc
gc-7.1
gc-7.1.tar.gz
install-sh
libtool
ltmain.sh
missing
src/compiler/config.rb
src/compiler/rubyc.rb
src/stdlib/rubyc.h
tags
test/coverage
